@page "/learnblazor/bindprop"
<PageTitle>Bind Property</PageTitle>
<h3>Product - Data Binding</h3>

Name: @Product.Name <br/>
This Product is: @(Product.IsActive?"Active":"InActive") <br/>
Price: @Product.Price <br/>

IsActive: <input type="checkbox" @bind="@Product.IsActive"/> <br/>
Input Price: <input type="number" @bind="@Product.Price" @bind:event="oninput"/> <br/>

Product Properties:
<select>
    @foreach (var prop in Product.ProductProperties)
    {
        <option value="@prop.Key">@prop.Value</option>
    }
</select>

@code {

    Models.Product Product = new()
    {
        Id = 1,
        Name = "Sample Product",
        IsActive = true,
        Price = 5m,
        ProductProperties = new List<Models.Product_Prop>()
        {
            new Models.Product_Prop { Id = 1, Key = "Color", Value = "Red" },
            new Models.Product_Prop { Id = 2, Key = "Size", Value = "25ml" },
            new Models.Product_Prop { Id = 3, Key = "Flavor", Value = "Vanilla" },
        }
    };
}